
/* HTML5 For Slow Learners */
article, aside, details, figcaption, 
figure, footer, header, hgroup, 
menu, nav, section, summary  {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
[hidden] {
    display: none;
}

/* Block Elements */
html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
p, ul, ol, li, pre, blockquote {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* Inline Elements */
abbr[title] {
    border-bottom: 1px dotted;
}

/* Form Elements */
form, fieldset, legend {
    margin: 0;
    padding: 0;
}
button, input, select, textarea, label {
    margin: 0;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Images */
img {
    border: 0;
    max-width: 100%;
}

/* Typography */
code, pre {
    font-family: monospace;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

/* Horizontal Rules */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 0;
    padding: 0;
}
